RewriteEngine On
RewriteRule ^home$ /index.html [L]
RewriteRule ^service$ /service.html [L]
RewriteRule ^projects$ /projects.html [L]
RewriteRule ^join$ /join.html [L]
RewriteRule ^about$ /about.html [L]
RewriteRule ^showcase$ /project-showcase.html [L]